<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-fa-icon [icon]="FAIconType.eye"></app-fa-icon>
    <span class="ms-2" translate>workspace.detector.select</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>
    <img *ngIf="box.dataUrl" [src]="box.dataUrl"/>
    <div class="d-flex justify-content-end align-items-center">
      <button class="btn btn-sm btn-danger">
        <app-fa-icon [icon]="FAIconType.trash"></app-fa-icon>
        <span class="ms-2">Remove</span>
      </button>
      <button class="ms-1 btn btn-sm btn-primary">
        <app-fa-icon [icon]="FAIconType.save"></app-fa-icon>
        <span class="ms-2">Save</span>
      </button>
    </div>
  </ng-content>
</app-modal>

