<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-fa-icon [icon]="FAIconType.message"></app-fa-icon>
    <span class="ms-2" translate>detector.detected_text</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>

    <div class="d-flex flex-column">
      <div class="input-group input-group-sm">
        <textarea [(ngModel)]="message" class="form-control form-control-sm"></textarea>
        <span class="btn btn-primary input-group-text" id="basic-addon2" (click)="send()">
          <app-fa-icon [icon]="FAIconType.paperPlane"></app-fa-icon>
        </span>
      </div>
      <div class="card mt-1" *ngFor="let msg of messages">
        <div class="card-body p-1">
          {{msg.text}}
        </div>
      </div>
    </div>
  </ng-content>
</app-modal>

