/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap";
@use "bootstrap/scss/bootstrap-utilities";
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@use "bootstrap-icons/font/bootstrap-icons.scss";


body {
  background-color: #80a89e;
}

.pointer {
  cursor: pointer !important;
}
.item-danger {
  border-left: 4px solid var(--bs-danger);
}

.item-warning {
  border-left: 4px solid var(--bs-warning);
}



.item-info {
  border-left: 4px solid var(--bs-info);
}

.item-primary{
  border-left: 4px solid var(--bs-primary);
}

.item-success{
  border-left: 4px solid var(--bs-success);
}
