<div class="d-flex w-100 justify-content-start align-items-center menu">
  <button  class="btn btn-sm ms-2 btn-outline-light border-0 rounded-0 pb-2 pt-2" (click)="navigateHome()">
    <div class="d-flex align-items-center">
      <img src="assets/icon.svg" alt="Logo" width="30" height="22" class="d-inline-block align-text-top">
      <span translate>menu.title</span>
    </div>
  </button>

  <ng-content *ngIf="(logged|async) == true">

    <!-- Projects -->
    <button class="btn btn-sm btn-outline-light border-0 rounded-0 pb-2 pt-2" (click)="navigateProjects()">
      <app-fa-icon [icon]="FAIconType.folderTree"></app-fa-icon>
      <span class="ms-2" translate>project.list</span>
    </button>


    <div class="btn-group btn-group-sm border-0 h-100 m-0" *ngIf="project">
      <button class="btn btn-sm btn-outline-primary border-0 rounded-0 dropdown-toggle  pb-2 pt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <app-fa-icon [icon]="FAIconType.folderOpen"></app-fa-icon>
        <span class="ms-2">{{project.name}}</span>
      </button>
      <ul class="dropdown-menu rounded-0 rounded-bottom mt-0">

        <!-- Project Page -->
        <li class="pointer">
          <a class="dropdown-item"  (click)="navigateProjectPage()">
            <app-fa-icon [icon]="FAIconType.folderOpen"></app-fa-icon>
            <span class="ms-2">{{project.name}}</span>
          </a>
        </li>

        <!-- Project Detectors-->
        <li class="pointer">
          <a class="dropdown-item" (click)="navigateProjectDetectors()">
            <app-fa-icon [icon]="FAIconType.eye"></app-fa-icon>
            <span class="ms-2" [translate]="'project.detectors'"></span>
          </a>
        </li>

        <!-- Project Recordings-->
        <li class="pointer">
          <a class="dropdown-item" (click)="navigateProjectRecords()">
            <app-fa-icon [icon]="FAIconType.film"></app-fa-icon>
            <span class="ms-2" [translate]="'project.recordings'"></span>
          </a>
        </li>
      </ul>
    </div>

  </ng-content>
  <div class="ms-auto d-flex align-items-center">
    <ng-content select="[end]"></ng-content>
    <button class="btn btn-sm me-2 btn-outline-light border-0 rounded-0 h-100 pb-2 pt-2" *ngIf="(logged|async) == true" (click)="logout()">
      <app-b-icon [icon]="BIconType.boxArrowInLeft"></app-b-icon>
      <span class="ms-1" translate>auth.logout</span>
      </button>
    <button class="btn btn-sm me-2 btn-outline-light border-0 rounded-0 h-100 pb-2 pt-2" *ngIf="(logged|async) == false" (click)="register()" translate>auth.register</button>
    <button class="btn btn-sm me-2 btn-outline-light border-0 rounded-0 h-100 pb-2 pt-2" *ngIf="(logged|async) == false" (click)="login()" translate>auth.login</button>
  </div>

</div>

