<app-resize-listener class="fixed-top " (resized)="onResizeTop($event)">
  <div  class="d-flex  justify-content-center">
    <div class="card rounded-0 border-0 shadow-sm bg-secondary text-white rounded-bottom w-50">
    <div class="card-body d-flex w-100" body>
      <a class="nav-link" href="#">
        <img src="assets/icon.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <span translate>menu.title</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="nav-link" routerLink="/project/list">Projects</a>
    </div>
    </div>
  </div>
</app-resize-listener>
