<app-template-card-container>
  <div title>
    <app-fa-icon [icon]="FAIconType.folderTree"></app-fa-icon>
    <span class="ms-1" translate>project.list</span>
  </div>
  <div body>
    <div class="d-flex">
      <span>
        <button class="btn btn-primary btn-sm" (click)="create()">
          <app-fa-icon [icon]="FAIconType.plus"></app-fa-icon>
          <span class="ms-2" translate>project.create</span>
        </button>
      </span>
      <span class="ms-auto">
        <app-search [value]="search" (valueChange)="onChangeSearch($event)" [placeholder]="'project.search'"></app-search>
      </span>
    </div>
    <div class="d-flex mt-2 flex-column">
      <app-project-card [project]="project" *ngFor="let project of projects"></app-project-card>
    </div>

  </div>
  <app-loader [cardFooter]="true" [error]="error" [loading]="loading"></app-loader>

</app-template-card-container>
