<div class="card mb-1">
  <img
    src="assets/detector.jpg"
    height="200px"
    width="auto"
    class="card-img-top object-fit-cover"
    alt="..." />

  <div class="card-body">
    <h6>
      <app-fa-icon [icon]="FAIconType.eye"></app-fa-icon>
      <span class="ms-1" translate>detector.list</span>
    </h6>
     <div class="d-flex">
      <span>
        <app-pagination
          [totalItems]="total"
          [itemsPerPage]="limit"
          [currentPage]="page"
          (pageChange)="onnPageChange($event)"></app-pagination>
      </span>
      <span class="ms-auto">
        <app-search
          [value]="search"
          (valueChange)="onChangeSearch($event)"
          [placeholder]="'detector.image.search'"></app-search>
      </span>
    </div>
    <div
      class="d-flex justify-content-center align-items-center"
      *ngIf="total == 0"
      translate>
      detector.image.empty
    </div>
    <div class="d-flex flex-column" *ngIf="total > 0">
  </div>
</div>
