<div class="card  border-0 mb-1">
  <img
    src="assets/detector.jpg"
    height="200px"
    width="auto"
    class="card-img-top object-fit-cover"
    alt="..." />

  <div class="card-body">
    <h6>
      <app-fa-icon [icon]="FAIconType.eye"></app-fa-icon>
      <span class="ms-1" translate>trainer.session.list</span>
    </h6>
    <div class="d-flex">
      <span>
        <app-pagination
          [totalItems]="total"
          [itemsPerPage]="limit"
          [currentPage]="page"
          (pageChange)="onnPageChange($event)"></app-pagination>
      </span>
      <span class="ms-auto">
        <app-search
          [value]="search"
          (valueChange)="onChangeSearch($event)"
          [placeholder]="'trainer.session.search'"></app-search>
      </span>
    </div>
    <div
      class="d-flex justify-content-center align-items-center"
      *ngIf="total == 0"
      translate>
      trainer.session.empty
    </div>
    <div class="d-flex flex-column mt-1" *ngIf="total > 0">
      <div class="card mt-1" *ngFor="let session of sessions"
      [class.item-success]="session.status == TrainSessionStatus.Completed"
      [class.item-warning]="session.status == TrainSessionStatus.Running"
      [class.item-danger]="session.status == TrainSessionStatus.Error"
      [class.item-primary]="session.status == TrainSessionStatus.Idle">
        <div class="card-body">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <span *ngFor="let error of session.errors">
                {{error}}
              </span>
            </div>
            <span class="ms-auto text-muted">
              <small>
                {{
                  session.updated
                    | amLocal
                    | amDateFormat : "YYYY-MM-DD hh:mm:ss"
                }}
              </small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader
    [cardFooter]="true"
    [error]="error"
    [loading]="loading"></app-loader>
</div>
