<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-fa-icon [icon]="FAIconType.userMinus"></app-fa-icon>
    <span class="ms-1" translate>auth.unregister</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>
    <div class="btn btn-primary" (click)="unregister()">
      <app-fa-icon [icon]="FAIconType.userMinus"></app-fa-icon>
      <span class="ms-2" translate>auth.unregister</span>
    </div>
  </ng-content>
</app-modal>


