<app-modal [loading]="loading" [error]="error" [showBody]="(loading|async)==undefined">
  <ng-content header>
    <app-fa-icon [icon]="FAIconType.shapes"></app-fa-icon>
    <span class="ms-2" translate>workspace.detector.training.title</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>
    <app-detector-objects-summary *ngIf="objects" [objects]="objects"></app-detector-objects-summary>
    <app-detector-texts-summary *ngIf="texts" [texts]="texts"></app-detector-texts-summary>
    <ng-container *ngFor="let box of boxes">
      <ng-container *ngFor="let label of box.labels">
        <app-detector-train-suggestion *ngIf="!labelIsDetected(label)" [train]="labelIsInTrainQueue(label)" [box]="box" [label]="label" (onRemove)="onRemoveObject($event)" (onAccept)="onAcceptObject(box,label)" (onReject)="onRejectObject(box,label)"></app-detector-train-suggestion>
      </ng-container>

    </ng-container>
    <div class="card mb-1" *ngIf="totalTrainingObjects ==0 && boxes.length > 0">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <app-fa-icon [icon]="FAIconType.user"></app-fa-icon>
          <span class="ms-2" translate>workspace.detector.training.all_done</span>
        </div>
      </div>
    </div>

    <div class="card mb-1" *ngIf="totalTrainingObjects == 0 && boxes.length == 0">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <app-fa-icon [icon]="FAIconType.user"></app-fa-icon>
          <span class="ms-2" translate>workspace.detector.training.empty</span>
        </div>
      </div>
    </div>



  </ng-content>
</app-modal>

