<div class="d-flex flex-column">
  <div class="d-flex justify-content-center mb-2">
    <!-- Event -->
    <button
      class="btn btn-sm w-100"
      [class.btn-primary]="eventVisible"
      [class.btn-outline-secondary]="!eventVisible"
      (click)="toggleEvent()"
    >
      <app-fa-icon [icon]="FAIconType.handPointer"></app-fa-icon>
      <span class="ms-2" [translate]="'workspace.record.studio.event'"></span>
    </button>

    <!-- Detected Objects -->
    <button
      *ngIf="frame"
      class="btn ms-1 btn-sm w-100"
      [class.btn-primary]="objectsVisible"
      [class.btn-outline-secondary]="!objectsVisible"
      (click)="toggleObjects()"
    >
      <app-fa-icon [icon]="FAIconType.shapes"></app-fa-icon>
      <span class="ms-2" [translate]="'workspace.record.studio.detected_objects'" [translateParams]="{'n':frame.objects.length}"></span>
    </button>

    <!-- Detected Texts -->
    <button
    *ngIf="frame"
      class="btn ms-1 btn-sm w-100"
      [class.btn-primary]="textsVisible"
      [class.btn-outline-secondary]="!textsVisible"
      (click)="toggleTexts()"
    >
      <app-b-icon [icon]="BIconType.textareaT"></app-b-icon>
      <span class="ms-2" [translate]="'workspace.record.studio.detected_texts'" [translateParams]="{'n':frame.texts.length}"></span>
    </button>

    <!-- Trains -->
    <button
    *ngIf="frame"
      class="btn ms-1 btn-sm w-100"
      [class.btn-primary]="trainVisible"
      [class.btn-outline-secondary]="!trainVisible"
      (click)="toggleTrain()"
    >
      <app-b-icon [icon]="BIconType.boundingBox"></app-b-icon>
      <span class="ms-2" [translate]="'workspace.record.studio.train'" [translateParams]="{'n':frame.train.length}"></span>
    </button>

     <!-- Suggestions Selector-->
     <button
     *ngIf="frame"
     class="btn ms-1 btn-sm w-100"
     [class.btn-primary]="suggestionsVisible"
      [class.btn-outline-secondary]="!suggestionsVisible"
     (click)="toggleSuggestions()"
   >
     <app-fa-icon [icon]="FAIconType.handPointer"></app-fa-icon>
     <span class="ms-2" *ngIf="frame.suggestions.length == 0" translate>workspace.detector.suggestion.title</span>
     <span class="ms-2" *ngIf="frame.suggestions.length  > 0" [translate]="'workspace.detector.suggestion.title_n'" [translateParams]="{n:frame.suggestions.length}"></span>
   </button>
  </div>
  <div class="d-flex justify-content-center align-items-center w-100">
    <app-image-annotator *ngIf="(loading|async) == undefined"  (doubleClicked)="boxDetail($event)" (onBoxUpdated)="boxUpdate($event)"  [settings]="settings" [url]="imageUrl" [highlights]="highlights" [boxes]="boxes"></app-image-annotator>
  </div>
</div>
