<div class="card border-0" >

  <img src="assets/project.jpg" height="200px" width="auto" class="card-img-top object-fit-cover" alt="...">

  <div class="card-body">
    <div class="d-flex w-100 align-items-center">
      <h5>
        <app-fa-icon [icon]="FAIconType.folderOpen"></app-fa-icon>
        <span class="ms-2">{{project.name}}</span>
      </h5>
      <button class="ms-auto btn btn-primary pointer ms-1" (click)="edit(project)">
        <app-fa-icon [icon]="FAIconType.pen"></app-fa-icon>
        <span class="ms-2">Edit project</span>
      </button>
    </div>

  <div class="d-flex mt-3">
    <div class="card item-danger">
      <div class="card-body">
        <h5 class="card-title">Record</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary"  (click)="navigateRecordPage()">
          <app-fa-icon [icon]="FAIconType.clapperBoard"></app-fa-icon>
          <span class="ms-2">Record and manage videos</span>
        </button>
      </div>
    </div>
    <div class="card ms-2 item-warning">
      <div class="card-body">
        <h5 class="card-title">Train</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary" (click)="navigateTrainerPage()">
          <app-fa-icon [icon]="FAIconType.university"></app-fa-icon>
          <span class="ms-2">Train and manager detectors</span>
        </button>
      </div>
    </div>
    <div class="card ms-2 item-primary">
      <div class="card-body">
        <h5 class="card-title">Automate</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary" (click)="navigateAutoPage()">
          <app-fa-icon [icon]="FAIconType.robot"></app-fa-icon>
          <span class="ms-2">Automate and manage scenarios</span>
        </button>
      </div>
    </div>
    <div class="card ms-2 item-success">
      <div class="card-body">
        <h5 class="card-title">Play</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary" (click)="navigatePlayerPage()">
          <app-fa-icon [icon]="FAIconType.play"></app-fa-icon>
          <span class="ms-2">Play or schedule scenarios</span>
        </button>
      </div>
    </div>
  </div>

</div>

