<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-fa-icon [icon]="FAIconType.mouse"></app-fa-icon>
    <span class="ms-2" translate>workspace.record.action.title</span>
  </ng-content>
  <button
    type="button"
    class="btn-close"
    (click)="dismiss()"
    aria-label="Close"></button>

  <ng-content body>
    <div
      class="d-flex justify-content-center align-items-center card mb-2">
      <div class="card-body">
        <app-fa-icon [icon]="FAIconType.handPointer"></app-fa-icon>
        <span class="ms-2">{{ action | recordActionName | async }}</span>
        <span class="ms-2 me-2 text-muted"
          ><small>{{ action.confidence | number : "0.1-3" }}%</small></span
        >
      </div>
    </div>
    <div class="d-flex justify-content-end w-100">
      <button class="btn btn-sm btn-danger" (click)="remove()">
        <app-fa-icon [icon]="FAIconType.trash"></app-fa-icon>
        <span class="ms-2" translate>workspace.record.action.remove</span>
      </button>
      <button class="btn btn-sm btn-secondary ms-1" (click)="dismiss()">
        <app-fa-icon [icon]="FAIconType.xmark"></app-fa-icon>
        <span class="ms-2" translate>workspace.record.action.close</span>
      </button>
    </div>
  </ng-content>
</app-modal>
