<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-fa-icon [icon]="FAIconType.handPointer"></app-fa-icon>
    <span class="ms-2" translate>workspace.detector.suggestion.title</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>

    <!-- Preview of the current image area-->
    <div class="d-flex justify-content-center align-items-center card mb-2">
      <div class="card-body">
        <img [style.max-height.px]="200"  *ngIf="box.dataUrl" [src]="box.dataUrl"/>
      </div>
    </div>

    <app-detector-suggestion  (onAccept)="onAcceptSuggestion($event)" (onReject)="onRejectSuggestion($event)" [suggestion]="suggestion"></app-detector-suggestion>
  </ng-content>
</app-modal>

