.adder {
  border:none !important;
}

.adder:focus {
  outline-width: 0;
  outline: none !important;
  outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}
