
<div class="card border-0">
  <img src="assets/detector.jpg" height="200px" width="auto" class="card-img-top object-fit-cover" alt="...">

  <div class="card-body">
    <h6>
    <app-fa-icon [icon]="FAIconType.eye"></app-fa-icon>
    <span class="ms-1" translate>detector.list</span>
  </h6>
    <div class="d-flex mt-2">
      <span>
        <button class="btn btn-primary btn-sm" (click)="create()">
          <app-fa-icon [icon]="FAIconType.plus"></app-fa-icon>
          <span class="ms-2" translate>detector.create</span>
        </button>
      </span>
      <span class="ms-auto">
        <app-search [value]="search" (valueChange)="onChangeSearch($event)" [placeholder]="'detector.search'"></app-search>
      </span>
    </div>
    <div class="d-flex justify-content-center align-items-center" *ngIf="detectors.length == 0" translate>detector.empty</div>
    <div class="d-flex mt-1 flex-column" *ngIf="detectors.length > 0" >
      <div  class="card item-primary mt-1" *ngFor="let detector of detectors">
        <div class="card-body">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <span><strong>{{detector.name}}</strong></span>
              <div><span [translate]="'detector.images_n'" [translateParams]="{'n':detector._id|detectorImageCount|async}"></span></div>
              <div><span [translate]="'detector.classes_n'" [translateParams]="{'n':detector._id|detectorClassCount|async}"></span></div>
              <div><span [translate]="'detector.trains_n'" [translateParams]="{'n':detector._id|detectorTrainCount|async}"></span></div>

            </div>
            <span class="ms-auto">
              <button class="btn btn-primary btn-sm ms-1" (click)="images(detector)">
                <app-fa-icon [icon]="FAIconType.images"></app-fa-icon>
                <span class="ms-2" translate>detector.image.list</span>
              </button>
              <button class="btn btn-primary btn-sm ms-1" (click)="clone(detector)">
                <app-fa-icon [icon]="FAIconType.clone"></app-fa-icon>
                <span class="ms-2" translate>detector.clone</span>
              </button>
              <button class="btn btn-primary btn-sm ms-1" (click)="edit(detector)">
                <app-fa-icon [icon]="FAIconType.pen"></app-fa-icon>
                <span class="ms-2" translate>detector.edit</span>
              </button>
              <ng-container *ngIf="detector._id">
                <button class="btn btn-primary btn-sm ms-1" [disabled]="detector._id|detectorTrainRunning|async" (click)="train(detector)">
                  <app-fa-icon [icon]="FAIconType.brain"></app-fa-icon>
                  <span class="ms-2" translate>detector.train.action</span>
                </button>
              </ng-container>

            </span>
          </div>
      </div>
      </div>
    </div>

  </div>
  <app-loader [cardFooter]="true" [error]="error" [loading]="loading"></app-loader>
</div>

