<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-b-icon [icon]="BIconType.textareaT"></app-b-icon>
    <span class="ms-2" translate>workspace.detector.detected_text</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>
    <div class="d-flex justify-content-center align-items-center">
      <img *ngIf="box.dataUrl" [src]="box.dataUrl"/>
    </div>
    <div>
      Confidence: {{text.confidence}}
    </div>

  </ng-content>
</app-modal>

