<app-resize-listener class="fixed-top" (resized)="onResizeTop($event)">
  <div class="container-fluid">
    <div class="card w-100 rounded-0 border-0 shadow rounded-bottom">
      <div class="card-body p-0">
        <app-menu #menu></app-menu>
      </div>
    </div>
  </div>
</app-resize-listener>
<div class="container-fluid  pt-2" [style.margin-top.px]="topMargin|async">
  <div class="row ps-1 pe-1">
    <ng-template #main></ng-template>
  </div>
  <div class="row">
    <ng-template #bottom></ng-template>
  </div>
</div>
