.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #4b645e;
  color: white;
  z-index: 1030; /* Above other content */
}

.content {
  padding-left:250px;
}
