<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-b-icon [icon]="BIconType.boxArrowInLeft"></app-b-icon>
    <span class="ms-1" translate>auth.logout</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>
    <div class="btn btn-primary" (click)="logout()">
      <app-b-icon [icon]="BIconType.boxArrowInLeft"></app-b-icon>
      <span class="ms-2" translate>auth.logout</span>
    </div>
  </ng-content>
</app-modal>

