<div class="card bg-darker shadow rounded-0 rounded-top">
  <div class="card-body p-0">
    <div class="d-flex justify-content-center w-100 mt-2 ps-2 pe-2 mb-1">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-sm" (click)="toggleSynthetic()" [class.btn-primary]="synthetic == true" [class.btn-secondary]="synthetic == false">
            <span class="ms-2" translate>recorder.event.synthetic</span>
        </button>
        <button class="btn btn-sm" (click)="toggleSynthetic()" [class.btn-primary]="synthetic == false" [class.btn-secondary]="synthetic == true">
          <span class="ms-2" translate>recorder.event.default</span>
        </button>
      </div>

      <span class="ms-auto text-white">
        <span class="pointer" (click)="collapsed.next(!collapsed.getValue())">
          <app-fa-icon *ngIf="!(collapsed|async)" [icon]="FAIconType.chevronDown"></app-fa-icon>
          <app-fa-icon *ngIf="collapsed|async" [icon]="FAIconType.chevronUp"></app-fa-icon>
        </span>
      </span>
    </div>
    <div class="d-flex flex-column w-100 p-1 overflow-auto scrollable scroll-safe ps-2 pe-2" *ngIf="!(collapsed|async)">
      <div class="d-flex w-100 h-100  align-items-stretch flex-nowrap w-100  pb-3">
        <ng-content  *ngFor="let frame of frames; let i=index;" >
            <app-record-event-picker (click)="selectFrame(frame)" [class.ms-1]="i>0" [frame]="frame"></app-record-event-picker>
        </ng-content>
      </div>

    </div>
  </div>
</div>
