<div class="card pointer" [ngClass]="buildNgClass()" (click)="toggleCheck()">
  <div class="card-body p-2">
    <div class="d-flex align-items-center">
      <app-fa-icon

        *ngIf="!checked"
        [icon]="FAIconType.square"
      ></app-fa-icon>
      <app-fa-icon
        *ngIf="checked"
        [icon]="FAIconType.squareCheck"
      ></app-fa-icon>
      <small class="ms-2"><span>{{ action | recordActionName | async }}</span></small>
      {{action|json}}
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary btn-sm" (click)="remove()">
        <app-fa-icon [icon]="FAIconType.trash"></app-fa-icon>
        <span class="ms-2">Remove from automation</span>
      </button>
    </div>
  </div>
</div>
