
<div class="card border-0 mb-2">
  <img src="assets/recording.jpg" height="200px" width="auto" class="card-img-top object-fit-cover" alt="...">

  <div class="card-body">
    <div class="d-flex w-100 align-items-center">

    <h6>
    <app-fa-icon [icon]="FAIconType.clapperBoard"></app-fa-icon>
    <span class="ms-2" translate>recorder.list</span>
  </h6>
</div>
    <div class="d-flex mt-2">
      <span *ngIf="running != undefined">
        <button class="btn btn-primary btn-sm" (click)="create()" *ngIf="!running">
          <app-fa-icon [icon]="FAIconType.film"></app-fa-icon>
          <span class="ms-2" translate>recorder.new</span>
        </button>
        <button class="btn btn-danger btn-sm" (click)="create()" *ngIf="running">
          <app-b-icon [icon]="BIconType.record"></app-b-icon>
          <span class="ms-2" translate>recorder.manage</span>
        </button>
      </span>
      <span>
        <app-pagination class="ms-1"
          [totalItems]="total"
          [itemsPerPage]="limit"
          [currentPage]="page"
          (pageChange)="onnPageChange($event)"></app-pagination>
      </span>
      <span class="ms-auto">
        <app-search [value]="search" (valueChange)="onChangeSearch($event)" [placeholder]="'recorder.search'"></app-search>
      </span>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-1" *ngIf="records.length == 0" translate>recorder.empty</div>
    <div class="d-flex flex-column mt-1" *ngIf="records.length > 0">
      <div  class="card mt-1  btn btn-outline-primary border-primary item-primary" *ngFor="let record of records" (click)="open(record)">
        <div class="d-flex card-body">
          <div class="d-flex flex-column align-items-start">
            <div>{{record.name}}</div>
            <small ><span translate>recorder.duration</span><span>{{record|recordDuration}}</span></small>
            <small ><span translate>recorder.events</span><span>{{record._id|recordEventsCount|async}}</span></small>
            <small ><span translate>recorder.frames</span><span>{{record._id|recordFramesCount|async}}</span></small>
            <small ><span translate>recorder.size</span><span>{{record._id|recordSize|async}}</span></small>
            <small ><span translate>recorder.actions</span><span>{{record|recordActionCount|async}}</span></small>
            <div class="d-flex align-items-center"><small ><app-ng-icon [icon]="NGIconType.typDeviceDesktop"></app-ng-icon><span class="ms-2" translate>recorder.os.title</span><span>{{record|recordOsName}}</span></small></div>
          </div>
          <span class="ms-auto">
            <span class="ms-2 text-muted"><small>{{record.created|amLocal|amDateFormat:"YYYY-MM-DD hh:mm:ss"}}<small></span>
        </span>
      </div>
      </div>
    </div>

  </div>
  <app-loader [cardFooter]="true" [error]="error" [loading]="loading"></app-loader>
</div>
