<app-modal [loading]="loading" [error]="error">
  <ng-content header>
    <app-fa-icon [icon]="FAIconType.image"></app-fa-icon>
    <span class="ms-2" translate>workspace.record.frame.select</span>
  </ng-content>
  <button type="button" class="btn-close" (click)="dismiss()" aria-label="Close"></button>

  <ng-content body>
    <div class="d-flex justify-content-between flex-wrap w-100">
      <app-record-event-picker
        (click)="selectFrame(frame)"
        class="mt-1 me-1"
        *ngFor="let frame of frames; let i = index"
        [frame]="frame">
      </app-record-event-picker>
    </div>
  </ng-content>
</app-modal>

