<div class="btn-group btn-group-sm" *ngIf="totalItems <= itemsPerPage"><!-- *ngIf="totalPages > 1">-->
    <button class="btn btn-outline-secondary" [class.disabled]="currentPage === 1" (click)="prevPage()">
      Previous
    </button>

    <button class="btn"
        (click)="goToPage(page)"
        *ngFor="let page of pages"
        [class.btn-primary]="page === currentPage"
        [class.btn-outline-primary]="page !== currentPage">
        {{ page }}
    </button>

    <button class="btn btn-outline-secondary" [class.disabled]="currentPage === totalPages" (click)="nextPage()">
      Next
    </button>

</div>
