<div class="card border-0" *ngIf="detector">
  <div class="card-body">
    <h6>
      <app-fa-icon [icon]="FAIconType.eye"></app-fa-icon>
      <span class="ms-2">{{detector.name}}</span>
    </h6>
    <span>{{detector.description}}</span>
    <span>Select a record you want the detector to train on</span>
    <div class="d-flex mt-2 w-100">
      <span>
        <app-pagination *ngIf="total > limit" [currentPage]="page" (pageChange)="onPageChange($event)" [itemsPerPage]="limit" [totalItems]="total"></app-pagination>
      </span>
      <span class="ms-auto">
        <app-search [value]="search" (valueChange)="onChangeSearch($event)" [placeholder]="'recorder.search'"></app-search>
      </span>
    </div>
    <div class="d-flex justify-content-center align-items-center" *ngIf="records.length == 0" translate>recorder.empty</div>
    <div class="d-flex flex-column mt-2" *ngIf="records.length > 0">
      <ng-container *ngFor="let record of records; let i = index;">
          <div class="card btn btn-outline-primary item-primary" [class.mb-2]="i < total-1" (click)="train(record)">
            <div class="card-body">
              <div class="d-flex">
              <app-fa-icon [icon]="FAIconType.clapperBoard"></app-fa-icon>
              <div class="ms-2 d-flex flex-column align-items-start justify-content-center">
                <div>{{record.name}}</div>
                <small><span translate>recorder.detector</span><span>{{record|recordLoadDetectorName|async}}</span></small>
                <small><span translate>recorder.duration</span><span>{{record|recordDuration}}</span></small>
                <small><span translate>recorder.events</span><span>{{record._id|recordEventsCount|async}}</span></small>
                <small><span translate>recorder.frames</span><span>{{record._id|recordFramesCount|async}}</span></small>
                <small><span translate>recorder.size</span><span>{{record._id|recordSize|async}}</span></small>
                <small><span translate>recorder.actions</span><span>{{record|recordActionCount|async}}</span></small>
                <small><app-ng-icon [icon]="NGIconType.typDeviceDesktop"></app-ng-icon><span class="ms-2" translate>recorder.os.title</span><span>{{record|recordOsName}}</span></small>
              </div>
            </div>
          </div>
          </div>

      </ng-container>
    </div>
  </div>
</div>
