<div class="d-flex mt-2" >
  <app-image-annotator
  (doubleClicked)="boxDoubleClick($event)"
  (onSelectedBox)="boxClick($event)"
  (onBoxUpdated)="boxUpdate($event)"
  (onBoxCreated)="boxAdd($event)"
  (loaded)="imageLoaded.next($event)"
  [settings]="settings"
  [url]="imageUrl"
  [highlights]="highlights"
  [boxes]="boxes"
></app-image-annotator>
<div class="card detail ms-1 border-0" [style.min-width.px]="200" *ngIf="imageLoaded|async">
  <div class="card-body p-0">
    <div class="d-flex flex-column">
      <ng-container *ngFor="let event of frame.events; let i = index;">
        <app-trainer-lesson-event-card [class.mb-1]="i < frame.events.length -1" (onSelected)="toggleEvent($event,event, true)"  (onDeselected)="toggleEvent($event,event, false)" [event]="event"></app-trainer-lesson-event-card>
      </ng-container>

      <ng-container *ngFor="let suggestion of frame.suggestions; let i = index;">
        <app-trainer-lesson-suggestion-card class="mt-1" [actions]="frame.actions" (onAccepted)="acceptSuggestion($event,suggestion)" (onSelected)="toggleSuggestion($event,suggestion, true)" (onDeselected)="toggleSuggestion($event,suggestion,false)" [suggestion]="suggestion"></app-trainer-lesson-suggestion-card>
      </ng-container>
      <ng-container *ngFor="let train of frame.train; let i = index;">
        <app-trainer-lesson-train-card class="mt-1" (onSelected)="toggleTrain($event,train, true)" (onDeselected)="toggleTrain($event,train,false)" [train]="train"></app-trainer-lesson-train-card>
      </ng-container>
      <ng-container *ngFor="let action of frame.actions; let i = index;">
        <app-trainer-lesson-action-card class="mt-1" (onSelected)="toggleAction($event,action, true)" (onDeselected)="toggleAction($event,action,false)" (onRemove)="removeAction($event,action)" [action]="action"></app-trainer-lesson-action-card>
      </ng-container>

      <div class="card bg-info mt-1" *ngIf="suggestionLoading|async">
        <div class="card-body p-1">
          <div class="d-flex align-items-center justify-content-center">
            <small>
              <app-fa-icon [icon]="FAIconType.circleNotch" [animation]="'spin'"></app-fa-icon>
              <span class="ms-2">Suggestions loading...</span>
            </small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
